button {
      width: 33%;
      height: 200px;
      margin: auto;
      font-size: 30px;
      padding: 20px;
      float: ;
      background-color: rgb(200, 200, 200);
      color: rgb();
      border-radius: 12px;
    }
    
    button:hover {
      transform: scale(1.05);
      transition: 0.5s;
    }
  
    html{
      padding: 0px;
      background-color: rgb(32,33,36);
    }
    
    h2 {
      text-align: center;
      font-size: 30px;
      color: rgb(255,255,255);
    }
    
    p{
      font-size:15px;
      padding:20px;
      text-align: center;
      color: rgb(255, 255, 255);
    }
    
